<%- include('header'); -%>

<div class="box">

  <div class="item" id="title">
    <h1> <%= listTitle %> </h1>
  </div>


  <% todoList.forEach((item) => { %>

    <form class="" action="/delete" method="post">

      <div class="list item">

        <input type="hidden" name="listName" value=<%= listTitle %>>
        <input type="hidden" name="listId" value= <%= listId %>>
        <input type="hidden" name="itemId" value= <%= item._id %>>
        <input type="checkbox" name="checkboxItem"> 
        <p> <%= item.name %> </p>

      </div>

    </form>
  <% }) %>


  <div class="item" id="input-area">

    <form action="/" method="post">

      <input type="hidden" name="listName" value=<%= listTitle %>>
      <input type="text" name="newListItem" placeholder="Your Task..." autocomplete="off" required>
      <button type="submit" name="listId" value=<%= listId %>>+</button>

    </form>

  </div>

</div>

<script src="scripts/checkbox.js" charset="utf-8"></script>

<%- include('footer'); -%>
