<%- include('header'); -%>

<div class="box">

  <div class="item" id="title">
    <h1> <%= listTitle %> </h1>
  </div>

  <% let listLength = todoList.length %>
  <% for (let i = 0; i < listLength; i++) { %>

  <div class="list item">

    <input type="checkbox" name="">
    <p> <%= todoList[i] %> </p>

  </div>

  <% } %>

  <div class="item" id="input-area">

    <form action="/" method="post">

      <input type="text" name="newListItem" placeholder="Your Task..." autocomplete="off" required>
      <button type="submit" name="route" value=<%= listTitle %>>+</button>

    </form>

  </div>

</div>

<%- include('footer'); -%>
