<%- include('header'); -%>

<div class="box">

  <div class="item" id="title">
    <h1> <%= listTitle %> </h1>
  </div>


  <% todoList.forEach((item) => { %>

    <div class="list item">

      <input type="checkbox" name="">
      <p> <%= item.name %> </p>

    </div>
  <% }) %>


  <div class="item" id="input-area">

    <form action="/" method="post">

      <input type="text" name="newListItem" placeholder="Your Task..." autocomplete="off" required>
      <button type="submit" name="route" value=<%= listTitle %>>+</button>

    </form>

  </div>

</div>

<%- include('footer'); -%>
